<h1>Index</h1>

<table class="bhtztable">
    <thead>
        <tr>
            <td>id</td>
            <td>username</td>
<td>email</td>
<td>password</td>

          <td>action</td>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(function(user){ %>
        <tr>
            <td><%= user.id %></td><td><%- user.username %></td>
<td><%- user.email %></td>
<td><%- user.password %></td>

            <td><a href="/user/edit/<%= user.id%>">edit</a> - <a href='/user/delete/<%= user.id%>'>delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<a href="/user/create">create new</a>