<div class="panel panel-default">
  <div class="panel-heading">delete {{- model.name }}</div>
  <div class="panel-body">

    {{ model.properties.forEach(function(property){ }}
        <label for="{{- property.name }}">{{- property.name }}:</label>
        <p><%- {{- model.name }}.{{- property.name }} %></p>
    {{ }); }}
        
  </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <% form_for('{{- model.name }}', {controller : '/{{- model.name }}', action: '/delete'}, function(f){ %>
                    <%- f.hidden_field("id") %>
                    <%- hidden_field_tag("_csrf", {value: token}) %>
                    
                    <p>
                        <%- f.submit("Delete", {class : 'btn btn-danger', style : "width:100%;"}) %>
                    </p>
                <% }) %>
            </div>
            <div class="col-xs-6 col-sm-6">
                <%- link_to('back to list', '/article', {class : 'btn btn-primary', style : "width:100%;"}) %> 
            </div>
        </div>
  </div>
</div>

