<h2 class="text-success">Create {{- model.name }}</h2>

<% form_for("{{- model.name }}", {controller: '/{{- model.name }}', action: '/create'}, function(f){ %>
	
	<%- f.hidden_field("id") %>
	<%- hidden_field_tag("_csrf", {value: token}) %>

	{{ model.inputFields.forEach(function(field){ }}
	  <div class="control-group">
	    <%- f.label_for("{{- field.name }}", {class : "control-label"}) %>
	    {{- field.html }}
	  </div>
	{{ }); }}

	<%- f.submit("Save", {class : 'btn btn-success'}) %>
<% }) %>

<%- link_to('back to list', '/{{- model.name }}', {class : 'btn btn-primary'}) %>