<h2 class="muted">Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            {{ model.properties.forEach(function(property){ }}
            	<td>{{= property.name}}</td>
        	{{ }); }}
          <td>action</td>
        </tr>
    </thead>
    <tbody>

        <% {{- model.name }}s.forEach(function({{- model.name }}){ %>
            <tr>
                <td><%- {{- model.name }}.id %></td>
                {{ model.properties.forEach(function(property){ }}
                    <td><%- {{- model.name }}.{{- property.name }} %></td>
                {{ }); }}
                <td><a class="btn btn-info" href="/{{- model.name }}/details/<%= {{- model.name }}.id %>">details</a> | <a class="btn btn-warning" href="/{{- model.name }}/edit/<%= {{- model.name }}.id %>">edit</a> | <a class="btn btn-danger" href='/{{- model.name }}/delete/<%= {{- model.name }}.id %>'>delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<a class="btn btn-primary" href="/{{- model.name }}/create">create new</a>