<h2 class="muted">Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            {{ model.properties.forEach(function(property){ }}
            	<td>{{= property.name}}</td>
        	{{ }); }}
          <td>action</td>
        </tr>
    </thead>
    <tbody>

        <% {{- model.name }}s.forEach(function({{- model.name }}){ %>
            <tr>
                <td><%- {{- model.name }}.id %></td>
                {{ model.properties.forEach(function(property){ }}
                    <td><%- {{- model.name }}.{{- property.name }} %></td>
                {{ }); }}
                <td>
                    <%- link_to('show', '/{{- model.name }}/show/'+{{- model.name }}.id, {class : 'btn btn-info'}) %> |
                    <%- link_to('edit', '/{{- model.name }}/edit/'+{{- model.name }}.id, {class : 'btn btn-warning'}) %> |
                    <%- link_to('delete', '/{{- model.name }}/delete/'+{{- model.name }}.id, {class : 'btn btn-danger'}) %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- link_to('new {{- model.name }}', '/{{- model.name }}/new', {class : 'btn btn-primary'}) %>